/* Carrossel */
.carousel {
  width: 90vw;
  overflow: hidden;
  background-color: transparent;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

/* Animacao */
.track {
  display: flex;
  gap: 1.5rem;
  width: max-content;
  animation: scroll 30s linear infinite;
  background-color: transparent;
}

.carousel:hover .track {
  animation-play-state: paused;
}

.track:hover > :not(:hover){
    filter: blur(2px);
    opacity: 0.5;
}

/* Card */
.carousel article {
  width: 680px;
  height: 600px;
  background-color: var(--azul-escuro);
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.6s ease all;
}

.linha {
  width: 100%;
  height: 5px;
  background-color: var(--branco);
}

.carousel img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.carousel h2 {
  text-align: left;
  font-size: 35px;
  margin: 0.8rem;
}

.carousel p {
  font-size: 15px;
  color: white;
  font-weight: bold;
  margin: 0 0.8rem 0.8rem;
}

.carousel p > span {
  color: var(--azul-claro);
  background-color: transparent;
}

.carousel a {
  display: grid;
  grid-template-columns: auto auto;
  width: 400px;
  height: 50px;
  margin: auto;
  background-color: var(--azul-escuro);
  color: var(--branco);
  margin-top: 20px;
  border-radius: 30px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease 0.6s all;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
}

.carousel a:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ANIMAÇÃO */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


/* Responsividade */
@media (max-width: 900px) {
  .carousel {
    width: 100vw; 
  }

  .carousel article {
    width: 85vw; 
    height: auto;
    min-height: 500px;
  }

  .carousel img {
    height: 180px;
  }

  .carousel h2 {
    font-size: 24px;
  }
  
  .carousel a {
      width: 80%;
  }
}