
/*Estilização por classes especificas*/  

/*NAVBAR*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    /* background-color: var(--marrom); */
  }
  
.logo {
    font-size: 24px;
    font-weight: 700;
    color: var(--branco);    
}
  
.logo span {
    color: var(--laranja);
}
  
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 10%;
    padding: 0;
}
  
.nav-links li a {
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
    display: inline-block;
    font-weight: bold;
}
  
.nav-links li a:hover {
    color: var(--laranja);
}
  
.nav-links li a.active {
    color: var(--laranja);
    font-weight: bold;
    border-bottom: 2px solid var(--laranja);
    padding-bottom: 3px;
}

.nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: var(--laranja); 
    transition: width 0.3s;
    pointer-events: none;
}

  
.nav-links li a:hover::after {
    width: 100%;
  }
  
.nav-links li a:hover {
    color: var(--laranja);
}

.nav-icon li i{
    display: none;
    color: var(--branco);
}


/*CONTAINER*/

.container{
    display: grid;
    /* grid-template-columns: 10% auto; */
    background-color: var(--marrom);
    height: auto;
}


.container > main{
    background-color: var(--branco);
}

.inicio{
    display: grid;
    grid-template-columns: 60% auto;
    background-color: var(--marrom);
    /* clip-path: polygon(30% 0, 100% 0, 100% 100%, 45% 100%);
    z-index: -1; */
    
}

/*FORMAÇÔES*/

.fundo-escuro{
    background-color: #dfdfd9;
}

.icon-card{
    font-size: 100px;
    margin-top: 10px;
}

.cSharp{
    color: #009688;
}

.cSharp:hover{
    color: var(--branco);
}

.forms{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    height: auto;
}

.forms > div{
    background-color: var(--bege); 
    width: 330px; 
    height: 300px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.6s ease;
    cursor: pointer;
}

.forms > div:hover{
    background-color: var(--laranja);
    color: white;
    position: relative;
    transform: scale(0.97);
    transition: 0.5s;
    cursor: url('../clique.cur') 4 4, auto;
}


/*HABILIDADES*/

.titulo{
    font-size: 50px;
    text-align: center;
}

.miniatura{
    width: 157px; 
    height: 170px; 
    display: flex;
}

.icon-min{
    font-size: 100px;
    justify-content: center;
    color: var(--laranja)
}

.comeco {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.caixa {
    background-color: #ffffff;
    padding: 30px 60px;
    border-radius: 16px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    height: 500px;
    text-align: justify;
    margin-top: 30px;
}

.caixa p {
    font-size: 1.25rem;
    color: #333;
    line-height: 1.6;
    margin: 0;
    font-weight: bold;
}

.hab{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--marrom);
    grid-gap: 10px;
    padding: 25px;
}

.hab-titulo{
    grid-column-start: 1;
    grid-column-end: 4;
    height: 50px;
    font-family: "MinhaFonte", sans-serif;
    text-align: center;
    color: var(--bege-claro);
    font-size: 45px;
}

.item2{
    text-align: center;
    height: 200px;
}

.hab-card{
    background-color: var(--branco);
    height: 550px;
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px;
}

.hab-card > h2{
    color: var(--verde);
    font-family: "MinhaFonte", sans-serif;
    font-size: 30px;
}

.hab-card > p{
    font-family: "MinhaFonte8", sans-serif;
    font-size: 25px;
    color: var(--azul);
}

/*TRABALHOS*/
.trabalhos{
    display: flexbox;
    background-color: var(--branco);
    padding: 10px;
}

.trabalho-item{
    background-color: var(--branco);
    width: 90%;
    margin-left: 5%;
    padding: 10px;
    text-align: justify;
    border-radius: 15px;
    transition: transform 0.3s ease;
    border: solid 1px var(--marrom);
}

.trabalho-item > h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--azul);
}

.trabalho-item > h3{
    font-weight: bold;
    color: var(--verde);
}


.trabalho-item:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}

/*CERTIFICADOS*/
.art-cert{
    text-align: center;
}

.curriculo{
    text-align: center;
}

.curriculo a{
    color: var(--laranja);
}
/* FIM */