/* Estilização por ID */
#home{
    color: var(--branco);
}


#img-footer{
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    border: 2px solid #BBA58F; 
    filter: drop-shadow(0 0 10px black);
    transition: transform 0.6s ease;
}

#img-footer:hover{
    transform: rotate(60deg);
    transition: 0.6s;
}

#invisivel{
    color: #dfdfd9;
}

#navbar.scrolled{
    background-color: #3a2b26;
    transition: background-color 0.4s ease, box-shadow 0.4s ease, backdrop-filter 0.4s ease;
    backdrop-filter: blur(5px);
}


#contatos{
    height: 80px;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: flex-end;
}

#contatos a i{
    font-size: 80px;
    color: var(--branco);
    margin-right: 50px;
    transition: transform 0.3s ease;
}

#contatos a i:hover{
    color: var(--laranja);
    transform: translateY(-5px);
    transition: 0.6s;
}

#contatos > article{
    text-align: left;
    left: 0;
}


#wrap-cert{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* FIM */