/* CORES */
:root{
    --azul: #213F95;
    --azul-claro: #A1E1BC;
    --azul-mais-claro: #04BF9D;
    --laranja: #fefde7;
    --vermelho: #fefde7;
}

/*Fonte personalizada*/
@font-face {
    font-family: "Titulo";
    src: url("../fonts/oslla.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Regular";
    src: url("../fonts/Erode-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


/*ScrollBar*/
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--azul-claro);
}

::-webkit-scrollbar-thumb {
  background: var(--laranja); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--vermelho); 
}
/*FIM*/


*{
    background-color: var(--azul);
    margin: 0;
}

#gif-container{
    height: 300px;
    width: 300px;
    margin: auto;
    position: relative;
}

.gif {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
  border-radius: 50%;
  height: 350px;
  width: 350px;
  object-fit: cover; 
}


h2{
    font-family: "Titulo", sans-serif;
    text-align: center;
    font-size: 70px;
    color: var(--azul-claro);
}

p{
    font-family: "Regular", sans-serif;
    color: var(--azul-claro);
    font-size: 25px;
    text-align: center;
}

button{
    font-family: "Regular", sans-serif;
    color: var(--azul-claro);
    font-size: 25px;
    text-align: center;
}



#container{
    margin: auto;
}

#links{
    text-align: center;
    width: 460px;
    margin: auto;
    height: auto;
}

#redes{
    text-align: center;
    width: 460px;
    margin: auto;
    height: 80px;
    display: flex;
    justify-content: center;
}

.icon-rede{
    font-size: 50px;
    color: var(--vermelho);
    margin-top: 10px;
    transition: ease 0.6s all;
    padding-right: 15px;
}

.icon-rede:hover{
    transform: translateY(-5px);
    color: var(--laranja);
}

.botao-redirecionar{
    text-align: center;
    margin: 0;
    border: 4px solid var(--vermelho);
    border-radius: 30px;
    height: 50px;
    width: 450px;
    text-decoration: none;
    color: var(--vermelho);
    font-family: "Texto", sans-serif;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    transition: ease 0.6s all;
    margin-top: 15px;
}

.botao-redirecionar:hover{
    border: 4px solid var(--laranja);
    color: var(--laranja);
    transform: scale(1.2);
}

/* Estilos para telas menores que 768px */
@media (max-width: 767px) {
  #container{
    margin-left: 17%;
  }

  .botao-redirecionar{
    width: 400px;
  }

}