/*Variaveis de cor*/
:root{
    --azul: #223030;
    --marrom: #523D35;
    --verde: #959D90;
    --bege: #BBA58F;
    --bege-claro: #E8D9CD;
    --branco: #EFEFE9;
    --laranja: #cd884f;
    --amarelo: #bbbca9;
}
/* FIM */

/*ScrollBar*/
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--azul);
}

::-webkit-scrollbar-thumb {
  background: var(--laranja); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--amarelo); 
}
/*FIM*/

/*Fonte personalizada*/
@font-face {
    font-family: "MinhaFonte";
    src: url("../fonts/Dream-Orphans.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MinhaFonte2";
    src: url("../fonts/Playful-Time.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MinhaFonte3";
    src: url("../fonts/AlteHaasGroteskRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MinhaFonte4";
    src: url("../fonts/TwistedDonutDEMO-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MinhaFonte5";
    src: url("../fonts/SourceSerif4-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MinhaFonte6";
    src: url("../fonts/Monolog.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MinhaFonte7";
    src: url("../fonts/Lemon Funky TTF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MinhaFonte8";
    src: url("../fonts/HWYGNRRW.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* FIM */


/*Estilização direta de tags*/


html{
    scroll-behavior: smooth;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

header{
    background-color: var(--branco);
    text-align: center;
}

main{
    margin-top: 100px;
}

footer{
    background-color: var(--azul);
    color: white;
    padding: 5px;
    text-align: center;
    display: grid;
    grid-template-columns: 400px auto;
}

li{
    float: left;
}
  
li a{
    display: block;
    color: var(--branco);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

li i{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}
  
li a:hover {
    color:#f4f1de;
    transform: scale(1.2);
    transition: 0.2s;
}

h1{
    font-family: "MinhaFonte", sans-serif;
    text-align: center;
    color: var(--azul);
}

p{
    font-family: "MinhaFonte5", sans-serif;
    font-size: 20px;
    color: var(--azul);
    font-weight: bold;
}

p > span{
    color: var(--laranja);
}

/* FIM */









